# Enable AHAB boot support.
CONFIG_AHAB_BOOT=y

# Enable FIT image support and RSA signature verification.
CONFIG_FIT=y
CONFIG_FIT_SIGNATURE=y
CONFIG_RSA=y
CONFIG_RSA_VERIFY=y

# Replace the BSP's default boot command instead of modifying bsp_bootcmd.
# The default path executes
# "run sr_ir_v2_cmd;bootflow scan -lb; run bsp_bootcmd"
#
# "secure_bootcmd" lives in the board environment (imx93_frdm.env)
CONFIG_BOOTCOMMAND="run secure_bootcmd"
